html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    color: #6b7280;
    font-size: 16px;
    line-height: 1.5;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  header {
    position: sticky;
    top: 0;
    background: white;
    border-bottom: 1px solid #eee;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
  .logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: #111;
    padding-right:850px;
  }
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #6b7280;
    font-weight: 600;
  }
  
  .nav-links a:hover {
    color: #000;
  }
  
  .hero {
    text-align: center;
    padding: 6rem 1rem 5rem 1rem;
  }
  .hero h1 {
    font-size: 48px;
    font-weight: 700;
    color: #111;
    margin-bottom: 1rem;
  }
  .hero p {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto 3rem auto;
  }
  .button-primary {
    background: #000;
    color: #fff;
    font-weight: 700;
    padding: 1rem 3rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }
  .button-primary:hover {
    background: #444;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    padding-bottom: 6rem;
  }
  .product-card {
    border-radius: 12px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    padding: 2rem 1.5rem;
    text-align: center;
    color: #111;
  }
  .product-icon {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  .product-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 0.5rem;
  }
  .product-desc {
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
  .product-button {
    font-weight: 600;
    background: none;
    border: 2px solid #000;
    padding: 0.6rem 1.5rem;
    border-radius: 12px;
    cursor: pointer;
    color: #000;
  }
  .product-button:hover {
    background: #000;
    color: #fff;
  }
  footer {
    text-align: center;
    color: #6b7280;
    padding: 3rem 1rem;
    font-size: 14px;
  }
  @media (max-width: 600px) {
    .hero h1 {
      font-size: 36px;
    }
  }
  #icon{
    color: #000;
    padding-bottom: 5px;
    padding-right: 10px;
  }
